/* selector (etiqueta, class, id) {
    propiedad; valor;
} */
 /* Font Family: Notable Static*/
 @import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
 /* Font Family: "Notable", sans-serif; */

 /* Font Family: Embed Code*/
 @import url('https://fonts.googleapis.com/css2?family=Notable&family=Racing+Sans+One&display=swap');
 /* Font Family: Racing Sans One", sans-serif; */

/* Font Family: Elms Sans*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Notable&family=Racing+Sans+One&display=swap');
/* Font Family: "Elms Sans", sans-serif; */

body {
    background-image: url("../assets/Fondo/fondo.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
font-family: "Elms Sans", sans-serif;
font-size: 1rem;
}

/* Header */

h1 {
    color: #ffffff; /* Centro del tubo de neon en blanco puro */
  text-shadow: 
    0 0 5px #ffffff,  /* Resplandor blanco interior para dar intensidad */
    0 0 10px #ff0000, /* Primer capa de brillo rojo */
    0 0 20px #ff0000, /* Segunda capa de brillo rojo mas amplia */
    0 0 40px #ff0000; /* Tercera capa para el reflejo ambiental rojo */
    font-family: "Racing Sans One", sans-serif;
    font-size: 5rem;
}
h2 {
    color: #FAE588;
    font-family: "Notable", sans-serif;
    font-size: 1.5rem;
}
h3 {
    color: #FAE588;
    font-family: "Notable", sans-serif;
    font-size: 1.5rem;
}
p {
    color: #FAE588;
    font-size: 1.3rem;
}
.epigrafes {
    color: #FAE588;
}
header nav ul li {
    list-style: none;
    color: #F9DC5C; 
}
.nav-link {
    text-decoration: none;
}

/* Footer */

.rrss-img {
    height: 5vh;
    width: auto;
}